<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>Your Profile</h1>
<div>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Surname:</strong> <span th:text="${user.surname}"></span></p>
    <p><strong>Department:</strong> <span th:text="${user.department}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Roles:</strong>
        <span th:each="role : ${user.roles}" th:text="${role.roleName} + ' '"></span>
    </p>
</div>
<!-- Добавлено: Ссылки для администраторов, отображаются только если isAdmin = true -->
<div th:if="${isAdmin}">
    <a th:href="@{/admin/all-users}">View All Users</a><br/>
    <a th:href="@{/admin/user-create}">Create New User</a><br/>
</div>
<a th:href="@{/logout}">Logout</a>
</body>
</html>